html, body {
    font-family: 'IBM Plex Sans', sans-serif;
font-size: 18px; 
    background: linear-gradient(to right, #5d1e91 0%,#3a1756 10%,#000102 30%,#000102 71%,#3a1756 89%,#5d1e91 100%);
    color: white;
}

#content{
    width:90%;
    margin: 0 auto;
    min-height: 700px;
}

.giph{
    margin: .5%;
    height: 150px;
    width: 150px;
    border-radius: 5%;
transition: transform .3s;

}
.giph:hover, .giph:active{
    transform: scale(1.15)
}

.title{
    height: 150px;
    margin: auto;
}

.title-giphs{
    margin:auto;
}

.title-giph{
    max-width:100%;
    height:auto;
    height: 150px;
    width: 150px;
    margin: -1%;
    border-radius: 2%;
}

#buttons{
    margin: auto;
    margin-top:1%;
    margin-bottom:1%;
    display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

#displayGiphy{
    margin: auto;
    margin-top: 2%; 
    max-width: 80%;
}

#searchForm{
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 #savedButton{
     margin-left:1%; 
 }

 input{
     margin-right: 1%;
 }

#save-giph{
float: right;

}
#saved{
    float: right;
    margin-right: 1%;
}
#savers{
    width: 80%;
    overflow: auto;
}
#rating{
    text-align: center;
    margin: -1% auto -20% auto;
    color:white;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.giphy{
     border: 0px;
    margin: auto 1%;
}

button , input{
    font-family: 'IBM Plex Sans', sans-serif;
    border: solid 3px;
    border-color: rgb(194, 129, 194); 
    color: rgb(194, 129, 194);
    background-color: rgba(211, 211, 211, 0);
border-radius: 3px;
transition: transform .3s;

}

button:hover , input:hover{
    background-color: rgb(194, 129, 194); 
    color: white;
}


#savedThumb{

    text-align: center;
    width: 200px;
    height: 200px;
    position: absolute;
    padding: 10%;
    
    bottom: 50%;
    right: 50%;
    visibility: hidden;
}

#savedThumb img{
border-radius: 5%;
}

@media (max-width: 990px) {

    .title-giph{
        max-width:100%;
        height:auto;
        height: 125px;
        width: 125px;
        margin-bottom:-10%;
    }
    .giph{
        margin: .5%;
        height: 125px;
        width: 125px;
    
    }
}
@media (max-width: 770px) {

    .title-giph{
        max-width:100%;
        height:auto;
        height: 75px;
        width: 75px;
        margin-bottom:-20%;
        margin-bottom:-20%;
    }
    .giph{
        margin: .5%;
        height: 75px;
        width: 75px;
    
    }

}
@media (max-width: 590px) {

    .title-giph{
        max-width:100%;
        height:auto;
        height: 50px;
        width: 50px;
        margin-bottom:-160%;
        margin-top:-100%;
    }
    .giph{
        margin: .5%;
        height: 50px;
        width: 50px;
    
    }
    #content{
        width:100%;
        margin: 0 auto;
        min-height: 700px;
    
    }

}